@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  font-size: 15px;
  font-family: 'Alata', sans-serif;
 
  
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background: url(/images/desktop/image-hero.jpg) no-repeat center center/cover;
  height: 70vh;
  color: var(--White);
  overflow: hidden;
  margin: 0;
}

nav .container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap;
}
.logo img {
  width: 60%;
}
h1, h2, h3, button{
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
.menu {
  display: flex;
  align-items: center;
 
}
.menu li {
  margin-left: 30px;
}
.menu li a {
  text-decoration: none;
  color: var(--White);
}
.box {
  margin-top: 50px;
  border: 1px solid var(--White);
  width: 50%;
  min-height: 30vh;
  padding: 30px;
}
.box h1 {
  width: 90%;
  font-size: 50px;
  line-height: 0.9;
  
}
.hamburger {
  display: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
#close-icon {
  display: none;
}
main{
  margin: 50px 0;
}
main .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.main-bg{
  background: url(/images/desktop/image-interactive.jpg) no-repeat center center/contain;
  height: 400px;
}
.main-content{
  position: absolute;
  background-color: var(--White);
  z-index: 100;
  bottom: 0;
  left: 40%;
  width: 50%;
  padding: 50px 90px 0;
  
}
.main-content h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.main-content p{
  line-height: 1.6;
  color: var(--VeryDarkGray);
}

.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button{
  padding: 8px;
  background: transparent;
  border: 1px solid var(--Black);
  width: 120px;
  font-weight: bold;
}
.mobile{
  display: none;
}
.button:hover{
  background-color: var(--Black);
  color: var(--White);
}
.grid-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
margin: 40px 0;
  /* color: var(--White); */
}
.grid-container> div{
  height: 40vh;
  cursor: pointer;
}
.grid-container> div:hover{
  opacity: 0.5;

}
.grid-container h3{
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: var(--White);
}
a
a{
transition: all 0.7;
}
a:hover{
  border-bottom: 1px solid var(--White);
}
.grid-1{
  position: relative;
  background: url(/images/desktop/image-deep-earth.jpg) no-repeat center center/cover;
  
}
.grid-2{
  position: relative;
  background: url(/images/desktop/image-night-arcade.jpg) no-repeat center center/cover;
  
}.grid-3{
  position: relative;
  background: url(/images/desktop/image-soccer-team.jpg) no-repeat center center/cover;
  
}
.grid-4{
  position: relative;
  background: url(/images/desktop/image-grid.jpg) no-repeat center center/cover;
  
}
.grid-5{
  position: relative;
  background: url(/images/desktop/image-from-above.jpg) no-repeat center center/cover;
  
}.grid-6{
  position: relative;
  background: url(/images/desktop/image-pocket-borealis.jpg) no-repeat center center/cover;
  
}
.grid-7{
  position: relative;
  background: url(/images/desktop/image-curiosity.jpg) no-repeat center center/cover;
  
}
.grid-8{
  position: relative;
  background: url(/images/desktop/image-fisheye.jpg) no-repeat center center/cover;
  
}

footer{
  background-color: var(--Black);
  color: var(--White);
  padding: 40px 0;
}
footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link{
  display: flex;
  align-items: center;
 
}
.socials{
  display: flex;
  justify-content: flex-end;
}
.socials img{
  margin-right: 15px;
}
.link, .foot-2 p{
  margin: 15px 0;
}
.link li {
  margin-right: 30px;
}
.link li a {
  text-decoration: none;
  color: var(--White);
}


.attribution{
  text-align: center;
  margin-top: 30px;
}
.attribution a{
  color: white;
  font-weight: 700;
}

.m-break{
  display: none;
}

/* Mobile styling */
@media (max-width: 700px) {
  header {
    background: url(/images/mobile/image-hero.jpg) no-repeat center fixed/cover;
    height: 100vh;
    color: var(--White);
    width: 100%;
  }
  .m-break{
    display: block;
  }
  nav{
    width: 100%;
    transition: all 0.4s;
  }
  .showNav {
    background-color: var(--Black);
    z-index: 100;
    height: 100vh;
    position: fixed;
  }
  .menu {
    display: none;
    margin-top: 500px;
    position: fixed;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }
  .box {
    border: 2px solid var(--White);
    width: 100%;
    padding: 30px 20px;
    margin: 30% auto;
  }
  .box h1 {
    font-size: 42px;
    font-weight: 300;
  }
  .hamburger {
    display: block;
    float: right;
    margin: 10px;
  }

  .menu li {
    margin-left: 0;
    margin-top: 20px;
  }
  .menu li a {
    text-transform: uppercase;
    font-size: 18px;
  }
 
  .main-content{
    position:static;
    padding: 0;
    z-index: 1;
    text-align: center;
    width: 100%;

    
  }
  main .container{
    display: block;
    position: relative;
    width: 90%;
  }
  .main-bg{
    background: url(/images/mobile/image-interactive.jpg) no-repeat center fixed/contain;
    height: 300px;
    margin-bottom: 20px;
  }
  .grid-1{
    position: relative;
    background: url(/images/mobile/image-deep-earth.jpg) no-repeat center center/cover;
    
  }
  .grid-2{
    position: relative;
    background: url(/images/mobile/image-night-arcade.jpg) no-repeat center center/cover;
    
  }.grid-3{
    position: relative;
    background: url(/images/mobile/image-soccer-team.jpg) no-repeat center center/cover;
    
  }
  .grid-4{
    position: relative;
    background: url(/images/mobile/image-grid.jpg) no-repeat center center/cover;
    
  }
  .grid-5{
    position: relative;
    background: url(/images/mobile/image-from-above.jpg) no-repeat center center/cover;
    
  }.grid-6{
    position: relative;
    background: url(/images/mobile/image-pocket-borealis.jpg) no-repeat center center/cover;
    
  }
  .grid-7{
    position: relative;
    background: url(/images/mobile/image-curiosity.jpg) no-repeat center center/cover;
    
  }
  .grid-8{
    position: relative;
    background: url(/images/mobile/image-fisheye.jpg) no-repeat center center/cover;
    
  }
  .grid-container{
  
    grid-template-columns: repeat(1, 1fr);
   row-gap: 20px;
    margin: 40px 0;
 
}
footer .container{
 display: block;
 text-align: center;
}
.link{
  display: block;
  

}
.link li{
  margin-top: 30px;
}
.link a{
  font-size: 18px;
}
.socials{
  display: block;
  margin-top: 50px;
}
.grid-container h3{
  font-size: 35px;
}
.foot-2 p{
  font-size: 22px;
  font-weight: 700;
  color: var(--VeryDarkGray);
}
.grid-container> div{
  height: 30vh;
  
}
.button{
  display: none;
}
.mobile{
  display: block;
  margin: 0 auto 30px;
}
.flex-container{
 flex-direction: column;
  align-items: center;
  justify-content: center;
}

}