:root{
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 15px;
 
}
header{
  background: url(/images/desktop/image-hero.jpg) no-repeat center center/100%;
  height: 80vh;
  color: var(--White);
}
